.service_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services_limit {
  width: 1120px;
  align-items: center;
  justify-content: center;
}

.service_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.service_content span:nth-child(1) {
  margin-top: 3rem;
}

.service_content span {
  margin-top: 0.6rem;
}
