.orcament_container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orcamento_limit {
  width: 1120px;
  height: auto;
  display: flex;
}

.user_form_area {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.message_area {
  display: flex;
  background-color: blue;
  flex-direction: column;
  width: 50%;
}
