.services_inf_container {
  display: flex;
  height: 120vh;
  width: 100%;
  justify-content: flex-end;
}
@media screen and (max-width: 1120px) {
  .services_inf_container {
    flex-direction: column;
    margin-top: -10rem;
  }
}

@media screen and (max-height: 804px) {
  .services_inf_container {
    margin-top: 10%;
  }
}