.partners_container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #1c203e;
  margin-top: 10rem;
  align-items: flex-end;
}

.partners_limit {
  width: 1120px;
  height: 40vh;
  background-color: #5198C7;
  margin-top: -10rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.partners_limit h1 {
  font-size: 3rem;
  width: 740px;
  margin-left: 1rem;
  text-align: start;
}

@media screen and (max-width: 1120px) {
  .partners_limit {
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .partners_limit h1 {
    font-size: 1.7rem;
    margin-left: -1rem;
  }
  .partners_container {
    align-items: center;
    height: 10vh;
  }
}
