.server_container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* z-index: 10;  background: url("../../../images/altatech.jpg") center; */
  background-size: cover;
}

.server_image_container {
  width: 1120px;
  height: 60vh;
  z-index: 10;  background: url("../../../images/server1.jpg") center;
  background-size: cover;
  transition: all 0.5s;
  display: flex;
}

.server_image_darkness {
  z-index: 11;
  align-items: center;  width: 1120px;
  height: 60vh;
  justify-content: space-between;
  position: absolute;
  display: flex;
  background-color: rgba(19, 23, 43,0.7);
}

.server_vps_dark_side {
  align-self: flex-end;
  width: 700px;
  justify-self: flex-end;
  height: 300px;
  background-color: rgba(19, 23, 43);
}

.server_inf_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 380px;
}

.server_inf_area h1 {
  font-size: 2rem;
  color: white;
  margin-top: 2rem;
  font-family: poppins;
  margin-bottom: 5rem;
}

.server_inf_area span {
  font-size: 1.5rem;
  font-family: poppins;
  color: white;
}
