.header_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  transition: all 0.5s;
  color: white;
  font-family: poppins;
  font-weight: 400;
}

.limit_content {
  max-width: 1720px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  align-items: center;
  justify-content: center;
  height: auto;
}

.general_top {
  width: 100%;
  display: flex;
  height: auto;
  padding-top: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.services {
  display: flex;
  align-items: center;
}

.services span {
  margin: 3rem 0rem 3rem 1rem;
  cursor: pointer;
}

.services span:hover {
  color: #ddd;
}

.services button {
  width: 100px;
  height: 40px;
  margin-left: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  font-size: 16px;
  font-weight: 800;
  margin-left: 10px;
}

.services button:hover {
  background-color: black;
  color: white;
}

.logo_area {
  display: flex;
  margin-top: -4rem;
}

.logo_area img {
  width: 65px;
  margin-top: 1.3rem;
}

.logo_area article {
  flex-direction: column;
  width: 180px;
}

.logo_area article p {
  font-size: 18px;
  font-weight: 800;
}

.logo_area article p:nth-child(1) {
  font-size: 30px;
  font-weight: 800;
}

.logo_area article p:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
  margin-top: -2.2rem;
  line-height: 20px;
  color: #ddd;
}
