.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  transition: all 0.5s;
  color: white;
  font-family: poppins;
  font-weight: 400;
}

.limit_content {
  transition: all 0.5s;
  width: 1120px;
  flex-direction: column;
  border-bottom: 1px solid white;
  display: flex;
  height: auto;
}

.top_icon {
  margin-left: 1rem;
}

.top_icon:nth-child(2) {
  margin-left: 3rem;
}

.general_top span {
  font-size: 16px;
  font-weight: 700;
}

.general_top {
  width: 100%;
  display: flex;
  height: auto;
  transition: all 0.5s;
  font-size: 23px;
  align-items: center;
  justify-content: flex-end;
}

.services {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.5s;
}

.service_items {
  display: flex;
  align-items: center;
}

.services span {
  transition: all 0.5s;
  margin: 3rem 0rem 3rem 1rem;
  cursor: pointer;
}

.services span:hover {
  color: #ddd;
}

.button_entrar {
  width: 100px;
  height: 40px;
  margin-left: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  font-size: 16px;
  font-weight: 800;
}

.button_entrar:hover {
  background-color: black;
  color: white;
}

.buttonMenu {
  display: none;
  cursor: pointer;
}

.logo_area {
  display: flex;
  margin-top: -4rem;
}

.menu {
  color: white;
  font-size: 26px;
}

.logo_area img {
  width: 65px;
  margin-top: 1.3rem;
}

.logo_area article {
  flex-direction: column;
  width: 180px;
  margin-top: 2rem;
}

.logo_area article p {
  font-size: 18px;
  font-weight: 800;
}

.logo_area article p:nth-child(1) {
  font-size: 30px;
  font-weight: 800;
}

.logo_area article p:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
  margin-top: -2.2rem;
  line-height: 20px;
  color: #ddd;
}

@media screen and (max-width: 1120px) {
  .limit_content {
    width: 80%;
  }
}

@media screen and (max-width: 865px) {

  .wathsap {
    display: none;
  }
  .services span {
    display: none;
  }

  .services {
    margin-top: 20px;
  }

  .logo_area img {
    margin-top: 3rem;
  }

  .button_entrar {
    margin-left: 0.5rem;
  }

  .buttonMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.0);
    color: white;
    border: none;
    margin-left: -1rem;
  }
}

@media screen and (max-width: 469px) {
  .logo_area {
    flex-direction: column;
    height: 150px;
    width: 110px;
  }

  .button_entrar {
    width: 70px;
    margin-top: 2rem;
  }

  .menu {
    margin-top: 2rem;
  }

  .logo_area img {
    width: 30px;
    margin-top: 4rem;
    margin-bottom: -1rem;
  }

  .logo_area article {
    margin-top: -30px;
  }

  .logo_area article p:nth-child(1) {
    font-size: 20px;
    margin-bottom: 1.8rem;
    margin-top: 3rem;
    font-weight: 800;
  }
}