.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C203E;
  color: white;
  height: auto;
  min-height: 20rem;
  flex-direction: column;
}

.number_container {
  display: flex;
  flex-direction: column;
}

.numbers_content {
  display: flex;
  width: 1120px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1120px) {
  .footer_container {
    align-items: center;
    justify-content: center;
  }
  .numbers_content {
    align-items: center;
    justify-content: center;
  }
  .numbers_content {
    width: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .number_container {
    margin-top: 1rem;
  }
}
