.paterns_container {
  display: flex;
  width: 100%;
  background-color: #1c203e;
  height: 50vh;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  color: white;
}

.paterns_container h1 {
  font-size: 2rem;
}
